@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.logo {
    max-width:19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Global Behaviour-&-Colours*/

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1rem;
    color: #FAC16B;
    font-family: "Roboto", sans-serif;
    
}

.section-head {
    background-color: #fbfbfb;
    text-align: center;
}

.subhead {
        text-align: center;
}

.bg-color-main {
    padding-right: 1rem;
    background-color: #0B2222;
}

.font-color-main-light {
    font-family: "Roboto", sans-serif;
    color:#0B2222;
    background-color: #fbfbfb;
}

.backing-light {
    background-color: #fbfbfb;
}

.font-color-main-dark {
    font-family: "Roboto", sans-serif;
    color: #FAC16B;
}


.section-head {
    padding-top: 1rem;
}

/*Navigation*/

.navbar-stick {
    display: flex;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
}

.navbar {
    background-color: #0B2222;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    background-color: #0B2222;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #FAC16B;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #777777;
    transition-duration: .5s;
}

/* -------------------- about-Us---*/

.about-us {
    padding: 12.5rem 12.5rem;
}

.about-us-format {
    padding: 1rem;
    font-size: 1.5rem;
    align-self: center;
}

.about-us {
    margin-right: 0;
    padding: 12.5rem 12.5rem;
}

/* ----------------------Gallery---*/

.galley-image {
    padding: 0rem;
    display: inline-block;
}

.gallery-sett {
    margin-bottom: 1rem;
}

.callout-container {
    height: 75vh;

    background: url("../images/gallery/g-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; 
    display : flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

@media (min-width: 63rem) {
    .gallery-style {
        padding-top: 8rem;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
}

.gallery-style {
    padding: 0rem;
    max-height: 100%;
    max-width: 100%;
}

/* ------ Classes---*/

.classes-format {
    padding: 1rem;
    font-size: 1rem;
}

.class-image {
    display: inline-block;
    max-width: 90%;
    max-height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.icon {
    border-radius: 25rem;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------Schedule---*/

.tt-pdf i {
    font-size: 1rem;
    color:#FAC16B ;
    text-align: center;
    padding-left: 0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.tt-pdf i:hover {
    color: #8f5909;
}

/* ------ Facilities---*/

.faclilties-image {
    display: inline-block;
    max-width: 14rem;
    max-height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

/*Contact Us*/

.contact-us {
    padding: 1rem;
}

.map {
    width: 100%;
    height: 30%;
    margin-bottom: 1rem;
}

.tel-link:hover {
    text-decoration: none;
    color: #FAC16B;
}

.btn-primary {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    background-color: #0B2222;
    border: #FAC16B;
    color: #FAC16B;
}

.btn-primary:hover {
    background-color: #FAC16B;
    border: #0B2222;
    color: #0B2222;
}

a {
    color: #FAC16B; 
}

.btn-primary:hover a {
    background-color: #FAC16B;
    border: #0B2222;
    color: #0B2222;
}

.t-hours h4{
    color: #FAC16B;

}
.t-hours p {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    line-height: 1rem;
}

#map {
    border: 0;
}

/* ----------------------------------------Footer */

footer {
    font-size: 75%;
    background-color: #0B2222;
    color: #FAC16B;
    min-height: .01rem;
    margin: 0;
}

.social-links {
    padding-bottom: 1rem;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 0.5rem;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #FAC16B;
}

#footer-details {
    padding: 1rem;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h2 {
    color: #FAC16B;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.jumbotron .lead {
    color: #FAC16B;
    margin: 2rem 0;
}

.jumbotron small {
    font-size: 75%;
    font-style: italic;
    color:#FAC16B;
}
