
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.logo {
    max-width:19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}




/*Global Behavior---&- Colours*/

html {
    scroll-behavior: smooth;
}

p {
    font-size: 20px;
    color: #ec9209;
    font-family: "Roboto", sans-serif;
    
}

.section-head {
    background-color: #ffffff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 40px; 
    text-align: center;
    margin-bottom: 0;
    padding: 1rem 0rem;
    
}

.subhead {
    text-align: center;
}



.bg-color-main {
    padding-right: 10px;
    background-color: #277676;
}

.font-color-main {
    font-family: "Roboto", sans-serif;
    color: #ec9209;
}





.section-head {
    padding: 1rem 0rem;
}






/*Navigation*/

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
}

.navbar {
    background-color: #277676;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    background-color: #277676;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #ec9209;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #777777;
    transition-duration: .5s;
}






/* ------ about-Us---*/



.about-us {
    padding: 12.5rem 12.5rem;
}

.about-us-format {
    padding: 1rem;
    font-size: 1.5rem;
    align-self: center;
    display: inline-block;
}


.about-us {
    margin-right: 0;
    padding: 12.5rem 12.5rem;
}



.about-us-image {
    padding: 0rem;
    display: inline-block;
}







/* ------ Gallery---*/


.callout-container {
    height: 75vh;

    background: url("../images/gallery/g-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
















@media (min-width: 992px) {
    .gallery-style {
        padding-top: 8rem;
        padding-left: 0;
        padding-right: 0;
    }
}



.gallery-style {
    padding: 0rem;
    max-height: 100%;
    max-width: 100%;
}




/* ------ Classes---*/


.classes-format {
    padding: 1rem;
    font-size: 1rem;
    /*align-self: center;*/
    /*display: inline-block;*/
}

.class-image {
    display: inline-block;
    vertical-align: middle;
    /*max-widh: 290px;*/
    max-width: 90%;
    /*max-height: 254px;*/
    max-height: 15rem;
    margin-top: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 00px;
    margin-bottom: 1rem;
    
    
}



.icon {
    border-radius: 400px;
    border-style: solid;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* ------ Facilities---*/

.faclilties-image {
    max-width: 14rem;
    
    max-height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*padding-left: 00px;*/
    padding-right: 1rem;
    display: inline-block; 
}



/*Contact Us*/

.contact-us {
    padding: 3rem;
}

.map {
    width: 100%;
    height: 50%;
margin-bottom: 6rem;
}

.tel-link:hover {
    text-decoration: none;
    color: #ec9209;
}

.btn-primary {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    background-color: #277676;
    border: #ec9209;
    color: #ec9209;
}

.btn-primary:hover {
    background-color: #ec9209;
    border: #277676;
    color: #277676;
}

a {
    color: #ec9209; 
}

.btn-primary:hover a {
    background-color: #ec9209;
    border: #277676;
    color: #277676;
}


#map {
    border: 0;
}

/* ----------------------------------------Footer */

footer {
    font-size: 75%;
    background-color: #277676;
    color: #ec9209;
    min-height: .01rem;
    margin: 0;
}

.cv-pdf i {
    font-size: 1rem;
    color:#ec9209 ;
    text-align: center;
    padding-left: 0.5rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #8f5909;
}

.social-links {
    padding-bottom: 1rem;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 0.5rem;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ec9209;
}

#footer-details {
    padding: 10px;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #ec9209;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color:#ec9209;
}

.jumbotron .lead {
    color: #ec9209;
    margin: 2rem 0;
}

.jumbotron small {
    font-size: 75%;
    font-style: italic;
    color:#ec9209;
}
