@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.logo {
    max-width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.running-machine {
    max-width: 290px;
    max-height: 254px;
    margin-top: 20px;
    padding-left: 00px;
    margin-bottom: 20px;
    display: inline-block; 
}


/*Global Behavior*/

html {
    scroll-behavior: smooth;
}

p {
    color: #e6b873;
    font-family: "Roboto", sans-serif;
    
}

.section-head {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
    margin-bottom: 0;
    
}

.subhead {
    text-align: center;
}

/*Colors*/

.bg-color-main {
    background-color: #277676;
}

.font-color-main {
    font-family: "Roboto", sans-serif;
    color: #e6b873;
}

.font-color-inverse {
    font-family: "Roboto", sans-serif;
}

/*Header*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
}

.navbar {
    background-color: #277676;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    background-color: #277676;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #f6c67c;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #777777;
    transition-duration: .5s;
}

/*Classes*/

.about-us {
    padding: 12.5rem 12.5rem;
}

.classes-format {
    padding: 1rem;
    font-size: 1.0rem;
    align-self: center;
    display: inline-block;
}

@media (min-width: 992px) {
    .about-us-card {
        padding-top: 8rem;
    }
}

.classes-card {
    padding: 0px;
    max-height: 100%;
    max-width: 100%;

}

.classes-image {
    padding: 0rem;
}

.icon {
    border-radius: 50%;
    border-style: solid;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}






/*About us*/

.about-us {
    padding: 12.5rem 12.5rem;
}

.about-us-format {
    padding: 1rem;
    font-size: 1.25rem;
    align-self: center;
    display: inline-block;
}

.about-us-card {
    padding: 0px;
    max-height: 100%;
    max-width: 100%;
}

.about-us-image {
    padding: 0rem;
    display: inline-block;
}



/*Contact Us*/

.contact-us {
    padding: 3rem;
}

.map {
    margin-bottom: 100px;
    width: 75%;
    height:400px;
}

.tel-link:hover {
    text-decoration: none;
    color: #e6b873;
}

.btn-primary {
    background-color: #277676;
    border: #e6b873;
    color: #e6b873;
}

.btn-primary:hover {
    background-color: #e6b873;
    border: #277676;
    color: #277676;
}



/* ----------------------------------------Footer */

footer {
    font-size: 75%;
    background-color: #277676;
    color: #e6b873;
    min-height: 1px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color:#e6b873 ;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #8f5909;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e6b873;
}

#footer-details {
    padding: 10px;
}

/*Contact Us*/

.contact-us {
    padding: 3rem;
}

.map {
    width: 100%;
    height: 50%;
}

.tel-link:hover {
    text-decoration: none;
    color: #e6b873;
}

.btn-primary {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #277676;
    border: #e6b873;
    color: #e6b873;
}

.btn-primary:hover {
    background-color: #e6b873;
    border: #277676;
    color: #277676;
}


#map {
    border: 0;
}

